%main.container.general-main-wrap
  %h1.mt-0.mb-25=t('.my_orders')
  %p.lead.small.mb-10.visible-xs=t('.sort_by')
  .dropdowns.dropdown.general-order-dropdown
    %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
      =t('.waiting_for_processing')
      %i.fa.fa-angle-down.dropdown-icon.pull-right
    %ul.dropdown-menu
      %li
        %a{href: "#"}=t('.newest_first')
      %li
        %a{href: "#"}=t('.popular_first')
      %li
        %a{href: "#"}=t('.low_to_hight')
      %li
        %a{href: "#"}=t('.low_to_hight')
  .visible-xs
    .general-cart-item.divider-lg-bottom.pt-0
      %table.table
        %tr
          %td.col-half
            %span.in-grey-600=t('.number')
          %td.col-half
            %span.general-order-number R25314582
        %tr
          %td
            %span.in-grey-600=t('.completed_at')
          %td
            %span.in-grey-900.font-16.fw-300 2016-11-14
        %tr
          %td
            %span.in-grey-600=t('.status')
          %td
            %span.font-16.in-grey-900.fw-300=t('.in_progress')
        %tr
          %td
            %span.in-grey-600=t('.total')
          %td
            %strong.font-16 €32.90
    .general-cart-item
      %table.table
        %tr
          %td.col-half
            %span.in-grey-600=t('.number')
          %td.col-half
            %span.general-order-number R25314582
        %tr
          %td
            %span.in-grey-600=t('.completed_at')
          %td
            %span.in-grey-900.font-16.fw-300 2016-11-14
        %tr
          %td
            %span.in-grey-600=t('.status')
          %td
            %span.font-16.fw-300.text-success=t('.delivered')
        %tr
          %td
            %span.in-grey-600=t('.total')
          %td
            %strong.font-16 €32.90
  .hidden-xs.mb-res-50
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600=t('.number')
          %th
            %span.in-grey-600=t('.completed_at')
          %th
            %span.in-grey-600=t('.status')
          %th
            %span.in-grey-600=t('.total')
      %tbody
        %tr
          %td
            %span.general-order-number R25314582
          %td
            %span.in-grey-900.font-16.fw-300 2016-11-14
          %td
            %span.font-16.in-grey-900.fw-300=t('.in_progress')
          %td
            %strong.font-16 €32.90
        %tr
          %td
            %span.general-order-number R25314582
          %td
            %span.in-grey-900.font-16.fw-300 2016-11-14
          %td
            %span.font-16.fw-300.text-success=t('.delivered')
          %td
            %strong.font-16 €32.90