%main.container.general-main-wrap
  %h1.general-title-margin=t('.cart')
  .visible-xs
    =render partial: 'order_items/order_item_mobile', collection: @order_items
  .hidden-xs
    %table.table.table-hover
      %tr.no-hover
        %th.col-pic.pl-0
          %span.in-grey-600=t('.product')
        %th.col-title
        %th.col-price
          %span.in-grey-600=t('.price')
        %th.col-quantity
          %span.in-grey-600=t('.quantity')
        %th.col-total
          %span.in-grey-600=t('.subtotal')
        %th.col-close
      =render partial: 'order_items/order_item', collection: @order_items
  .general-order-wrap
    .row
      .col-sm-4
        .input-group.general-input-group
          %label.input-label=t('.enter_code')
          %input.form-control.mb-30{type: "text", placeholder: "Enter Your Coupon Code"}
          %div
            %button.btn.btn-primary.mr-5.mb-15.visible-xs-inline-block=t('.apply_coupon')
            %button.btn.btn-primary.mb-15.res-block=t('.apply_cart')
      .col-sm-8
        .res-mr-200.text-center.general-text-right
          %p.in-gold-500.font-18=t('.order_cart')
          %table.general-summary-table.general-summary-table-right.general-text-right
            %tr
              %td
                %p.font-16=t('.subtotal2')
              %td
                %p.font-16 €117.69
            %tr
              %td
                %p.font-16=t('.coupon2')
              %td
                %p.font-16 €0.00
            %tr
              %td
                %strong.font-18=t('.order_total2')
              %td
                %strong.font-18 €117.69
          %button.btn.btn-default.mb-20.visible-xs-inline-block=t('.checkout')
  %button.btn.btn-default.mb-20.hidden-xs.center-block=t('.checkout')
  =link_to 'Clear Cart', clear_cart_url, method: :post