.row
  .col-sm-5
    .general-img-wrap
      %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
  .col-sm-7
    .mb-60
      =tag.h1( book.title )
      =tag.p( (render partial: 'book_description', locals: {book: book}), class: 'lead' )
      =tag.p( book.author.full_name, class: 'lead small' )
      .general-align
        =link_to 'Buy Now', add_to_cart_path(order_item: {book_id: book.id}), method: :post, class: 'btn btn-primary'