%ul.list-inline.pt-10.mb-25.mr-240
  %li.mr-35
    =link_to home_url, class: 'filter-link' do
      =t('.all')
      %span.badge.general-badge 135
  %li.mr-35
    =link_to home_url, class: 'filter-link' do
      =t('.mobile_dev')
      %span.badge.general-badge 135
  %li.mr-35
    =link_to home_url, class: 'filter-link' do
      =t('.photo')
      %span.badge.general-badge 135
  %li.mr-35
    =link_to home_url, class: 'filter-link' do
      =t('.web_design')
      %span.badge.general-badge 135