%main.container
  #slider.carousel.slide{'data-ride': "carousel"}
    %ol.carousel-indicators
      %li.active{'data-target': "#slider", 'data-slide-to': "0"}
      %li{'data-target': "#slider", 'data-slide-to': "1"}
      %li{'data-target': "#slider", 'data-slide-to': "2"}
    .carousel-inner{role: "listbox"}
      .item.active
        =render partial: 'book_in_slider', locals: {book: @books_latest_for_slider.limit(1)[0]}    
      .item
        =render partial: 'book_in_slider', locals: {book: @books_latest_for_slider.offset(1).limit(1)[0]}   
      .item
        =render partial: 'book_in_slider', locals: {book: @books_latest_for_slider.offset(2).limit(1)[0]}   
    %a.left.carousel-control{href: "#slider", role: "button", 'data-slide': "prev"}
      %span.icon-prev{'aria-hidden': "true"}
      %span.sr-only Previous
    %a.right.carousel-control{href: "#slider", role: "button", 'data-slide': "next"}
      %span.icon-next{'aria-hidden': "true"}
      %span.sr-only Next
.container
  .jumbotron.text-center.mb-0
    %h2.h1 Welcome to our amazing Bookstore!
    .mb-res-50
      %p We pore through hundreds of new books each month and select the five best we can find to share with our members.
    =link_to t('.get_started'), books_url, class: 'btn btn-default'
  .mb-35
    %h3 Best Sellers
    .row
      =render partial: 'book', locals: { book: @books.best_seller_mobile.first }
      =render partial: 'book', locals: { book: @books.best_seller_photo.first }
      =render partial: 'book', locals: { book: @books.best_seller_design.first }
      =render partial: 'book', locals: { book: @books.best_seller_web.first }