%main.container
  %h1.general-title-margin=t('.catalog')
  .hidden-xs.clearfix
    .dropdowns.pull-right
      .dropdown.width-240
        =render partial: 'index_dropdown'
    =render partial: 'index_filters'
  .dropdowns.mb-25.visible-xs
    %p.lead.small.mb-10=t('.filter_by_cat') 
    .dropdown
      =render partial: 'index_dropdown'
    %p.lead.small.mb-10=t('.sort_by')
    .dropdown
      =render partial: 'index_dropdown'
  .mb-120
    .row
      =render @books_decorator
    .text-center
      %button.btn.btn-primary=t('.view_more')